<div class="bg-orange-400 text-orange-800 font-extrabold w-full py-2 text-center">
  BETA VERSION 🚧 👷🏻‍♀️
</div>
<div class="w-full h-full flex items-center justify-center">
  <div class="max-w-4xl space-y-5">
    <h1><%= current_company.name %> - <%= current_user.username %></h1>
    <p class="text-sm text-gray-800">
      <%= link_to "Logout", :sign_out, data: { turbo_method: :post } %>
    </p>

    <hr/>

    <h2>Please forward your email to</h2>
    <pre>
      <code>
        <%= current_user.reply_email %>
      </code>
    </pre>

    <hr/>

    <h2>Invoices</h2>
    <table class="w-full">
      <thead>
        <tr>
          <th>Supplier/Vendor</th>
          <th>Identifier</th>
          <th>Date</th>
          <th>Total amount</th>
          <th>Tax amount</th>
          <th>PDF</th>
        </tr>
      </thead>
      <tbody>
        <% current_company.invoices.processed.each do |invoice| %>
          <tr>
            <td><%= invoice.supplier.name %></td>
            <td><%= invoice.external_id %></td>
            <td><%= l(invoice.date, format: :invoice) %></td>
            <td><%= number_to_currency(invoice.total_amount, unit: invoice.currency_symbol) %></td>
            <td>
              <%= number_to_currency(invoice.tax_amount, unit: invoice.currency_symbol) %>
              <span class="text-sm text-gray-400"><%= invoice.tax_rate %>%</span> 
            </td>
            <td>
              <%= link_to url_for(invoice.pdf_document) do %>
                <i class="ri-file-pdf-2-line text-2xl"></i>
              <% end if invoice.pdf_document.attached? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>