<tr>
  <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-gray-900">
    <%= invoice.supplier&.name || '-' %>
  </td>
  <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 font-mono">
    <%= invoice.external_id.presence || '-' %>
  </td>
  <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">
    <%= invoice.date ? l(invoice.date) : '-' %>
  </td>
  <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 font-medium">
    <%= number_to_currency(invoice.total_amount, unit: invoice.currency_symbol) %>
  </td>
  <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900">
    <% if invoice.tax_rate&.positive? %>
      <%= number_to_currency(invoice.tax_amount, unit: invoice.currency_symbol) %>
      <span class="text-sm text-gray-500"><%= invoice.tax_rate %>%</span>
    <% else %>-<% end %>
  </td>
  <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">
    <%= ui_kit :badge, label: invoice.translated_status, type: { 'processed' => :success, 'failed' => :error }[invoice.status] %>
  </td>
  <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900">
    <%= link_to url_for(invoice.pdf_document), target: 'blank' do %>
      <i class="ri-file-pdf-2-line text-2xl"></i>
    <% end if invoice.pdf_document.attached? %>
  </td>
  <td>
    <%= ui_kit :dropdown, arrow: false, orientation: :right,
      label_class: 'rounded-full text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-400 w-4 h-4 text-center' do |c| %>
      <% c.with_label do %>
        <i class="ri-more-2-fill"></i>
      <% end %>

      <div class="px-4 py-4" role="none">
        <%= button_to t('.delete_button'), workspace_invoice_path(invoice, search_params), class: 'rounded bg-red-50 px-2 py-1 text-sm font-semibold text-red-600 shadow-sm hover:bg-red-100', form: { data: { turbo_confirm: t('confirm') } }, method: :delete %>
      </div>
    <% end %>
  </td>
</tr>