<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h2 class="text-2xl font-semibold leading-6 text-gray-900">
        <%= t('.title') %>
      </h2>
      <p class="mt-2 text-sm text-gray-700"><%= t('.description') %></p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none flex items-center space-x-4">
      <%= ui_kit :direct_upload_button, label: t('.upload_pdf_button'), url: bulk_create_workspace_invoices_path, accept: 'application/pdf', multiple: true %>
    </div>
  </div>

  <div class="mt-8 space-y-4">
    <div class="flex justify-end">
      <%= render 'workspace_ui/invoices/index/filter' %>
    </div>

    <%= render 'workspace_ui/invoices/index/table' %>
  </div>
</div>