<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>PoolpyBot - <%= current_company.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <%= stylesheet_link_tag "application" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="h-full bg-slate-100">
    <div class="min-h-full">
      <%= render 'layouts/workspace_ui/header' %>
      
      <div class="py-10">
        <!-- <header>
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Dashboard</h1>
          </div>
        </header> -->
        <main>
          <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="bg-white py-10">
              <%= yield %>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
